.header {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 50px;
  padding: 1%;
  margin-inline: auto;
}

.sectionHead {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: flex-start;

  aside {
    display: flex;
    flex-direction: column;
    gap: clamp(1em, 6vw, 12em);
  }

  .sectionHead__title {
    h1 {
      font-size: clamp(2.5em, 5.5vw, 7em);
      font-weight: 900;
      font-style: italic;
      span {
        color: red;
      }
    }
    h3 {
      margin: 0 2%;
      font-size: clamp(1em, 2vw, 1.5em);
    }
  }

  .sectionHead__adverstiment {
    font-family: var(--Lobster-font);
    margin: 0 2%;
    h1 {
      font-size: clamp(2em, 3vw, 3em);
      font-weight: 700;
      span {
        color: goldenrod;
        font-weight: 900;
      }
      h2 {
        font-family: var(--Lobster-font);
        font-size: clamp(1em, 2vw, 1.5em);
        font-weight: 700;
        span {
          font-weight: 900;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .header {
    overflow: hidden;
  }
  .sectionHead {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2em;
  }
}

@media (min-width: 768px) {
  body {
    background-color: lightcoral;
  }
}
