.buttonWtsp {
  font-family: var(--Inter-font);
  font-size: clamp(1em, 1.2vw, 3em);
  margin-inline: auto;
  color: white;
  font-weight: 800;
  height: 100px;
  width: clamp(400px, 50%, 800px);
  display: flex;
  align-items: center;
  padding: 10px 30px;
  border-radius: 20px;
  gap: 20px;
  border: 10px solid white;
  background-color: #28d668;
  transition: scale 0.3s ease;
  box-shadow: 0 4px 0px rgba(40, 214, 104, 0.5),
    0 -4px 0cm rgba(40, 214, 104, 0.5), 4px 0 0px rgba(40, 214, 104, 0.5),
    -4px 0 0px rgba(40, 214, 104, 0.5);
  &:hover {
    scale: 1.05;
    box-shadow: 0 4px 4px rgba(40, 214, 104, 0.5),
      0 -4px 0cm rgba(40, 214, 104, 0.5), 4px 0 4px rgba(40, 214, 104, 0.5),
      -4px 0 4px rgba(40, 214, 104, 0.5);
  }
  svg {
    width: 30%;
    height: 100%;
  }
}

@media (max-width: 600px) {
  .buttonWtsp {
    width: 80%;
  }
}
