.cardServices {
  border-radius: 5px;
  background-color: var(--darkgray-color);
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  gap: 10px;
  overflow: hidden;

  @media (max-width: 768px) {
    width: 90%;
  }

  .cardServices__body {
    height: 40%;
    padding: 10px;
    display: grid;
    gap: 10px;

    h3 {
      font-family: var(--Oswald-font);
      font-size: clamp(1.5em, 2vw, 2em);
      color: var(--green-color);
    }

    p {
      font-size: clamp(1em, 2vw, 1.5em);
      text-wrap: pretty;
    }
  }

  a {
    display: grid;
    place-content: center;
    border-radius: 5px;
    height: 10%;
    font-weight: 700;
    margin: 0 10px 10px 10px;
    padding: 10px;
    background-color: var(--gray-color);
    color: var(--white-color);
    width: fit-content;
    transition: all 0.5s ease;
    &:hover {
      scale: 1.02;
      background-color: var(--green-color);
      color: var(--darkgray-color);
    }
  }

  img {
    height: 50%;
    aspect-ratio: 2 / 1;
    object-position: center center;
  }
}
