.carousel {
  width: 100%;
  padding: 2%;
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    object-fit: cover;
    object-position: center center;
    aspect-ratio: 117/88;
  }

  .image-gallery-thumbnail {
    .image-gallery-thumbnail-image {
      height: 50px;
      object-fit: cover;
      object-position: center center;
      &:hover,
      &:active {
        scale: 1.02;
      }
    }
  }
}
