.contactMain {
  display: flex;
  gap: 20px;
  padding: 20px;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }

  .contactMain__right {
    width: 50%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 10px;

    .contactMain__info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: white;
      background-color: #142d4ced;
      border-radius: 10px;
      padding: 20px;
    }

    figure {
      background-color: aliceblue;
      border: 3px solid #142d4ced;
      border-radius: 10px;
      padding: 20px;

      figcaption {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;
      }

      iframe {
        border: 2px solid #142d4ced;
        border-radius: 10px;
        height: 200px;
      }
    }

    p {
      display: flex;
      gap: 10px;
      align-items: center;
      font-size: clamp(1em, 1vw, 1.5em);
    }
  }

  form {
    width: 50%;
    flex-grow: 1;
  }
}
