.form {
  fieldset {
    background-color: var(--secondary-color);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    padding: 15px;

    legend {
      font-size: clamp(1em, 1.3vw, 2em);
      font-weight: 600;
      color: var(--secondary-color);
      background-color: var(--tertiary-color);
      border-radius: 10px;
      padding: 5px;
    }

    label {
      color: var(--white-color);
      font-weight: 600;
      font-size: clamp(1em, 1vw, 1.5em);
    }

    input {
      background-color: var(--tertiary-color);
      border-radius: 10px;
      padding: 10px;
    }

    textarea {
      background-color: var(--tertiary-color);
      resize: none;
      height: 150px;
      border-radius: 10px;
      padding: 10px;
    }

    button {
      width: 30%;
      background-color: var(--tertiary-color);
      color: var(--secondary-color);
      font-size: clamp(1em, 1.5vw, 2em);
      font-weight: 700;
      border: none;
      border-radius: 10px;
      padding: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: rgb(3, 3, 95);
        color: var(--white-color);
      }
    }
  }
}
