.servicesFooter {
  display: flex;
  flex-direction: column;
  gap: 15px;

  h3 {
    font-size: clamp(1em, 3vw, 2em);
    font-style: italic;
    font-family: var(--ArchivoBlack-font);
    font-weight: 700;
  }

  a {
    padding: 10px;
    font-weight: 600;
    font-size: clamp(1em, 1.5vw, 1.5em);
    border-radius: 10px;
    background-color: black;
    color: white;

    &:hover {
      background-color: white;
      color: black;
      font-weight: 600;
    }
  }
}
