.servicesFooter {
  width: 30%;
  display: flex;
  justify-content: center;
  padding-inline: 5%;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  @media (max-width: 768px) {
    width: 100%;
    padding: 0 0 30px 0;
    border-bottom: 10px solid var(--white-color);
  }

  h3 {
    font-size: clamp(1.5em, 3vw, 2em);
    font-style: italic;
    font-family: var(--ArchivoBlack-font);
    font-weight: 700;
  }

  a {
    width: 100%;
    padding: 10px;
    font-weight: 600;
    font-size: clamp(1em, 1.5vw, 1.5em);
    border-radius: 10px;
    background-color: var(--gray-color);
    color: inherit;
    transition: all 0.5s ease;

    &:hover {
      background-color: var(--white-color);
      color: var(--black-color);
      box-shadow: 0 0 10px 0 var(--white-color);
      font-weight: 600;
    }

    @media (max-width: 768px) {
      width: 80%;
    }
  }
}
