@font-face {
  font-family: "Oswald";
  src: url("../public/fonts/Oswald/Oswald-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-VariableFont_slntwght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Lobster";
  src: url("../public/fonts/Lobster/Lobster-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Archivo Black";
  src: url("../public/fonts/ArchivoBlack/ArchivoBlack-Regular.ttf")
    format("truetype");
}

:root {
  /*FONTS*/
  --Oswald-font: "Oswald", sans-serif;
  --Inter-font: "Inter", sans-serif;
  --Lobster-font: "Lobster", sans-serif;
  --ArchivoBlack-font: "Archivo Black", sans-serif;

  /*COLORS*/
  --primary-color: red;
  --secondary-color: #142d4ced;
  --tertiary-color: aliceblue;
  --important-color: goldenrod;
  --whatsapp-color: #28d668;
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 8%);
  --gray-color: hsl(0, 0%, 20%);
  --darkgray-color: hsl(0, 0%, 12%);
  --green-color: rgb(136, 226, 59);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: var(--white-color);
  font-family: var(--Inter-font);
}
