.header {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 1%;
}

.sectionHead {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: flex-start;

  aside {
    display: flex;
    flex-direction: column;
    gap: clamp(1em, 6vw, 12em);
    height: 100%;
  }

  .sectionHead__title {
    h1 {
      font-family: var(--ArchivoBlack-font);
      font-size: clamp(2.5em, 5.5vw, 7em);
      font-weight: 900;
      font-style: italic;
      span {
        color: red;
      }
    }
    h3 {
      margin-left: 2%;
      font-size: clamp(1em, 2vw, 1.5em);
    }
  }

  .sectionHead__adverstiment {
    padding: 2%;
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20%;
    h1 {
      width: 90%;
      font-family: var(--Lobster-font);
      font-size: clamp(1.5em, 3vw, 3em);
      font-weight: 400;
      span {
        color: goldenrod;
        font-weight: 900;
      }

      @media (max-width: 768px) {
        margin-inline: auto;
        text-wrap: pretty;
        width: 95%;
        text-align: center;
      }
    }
    h2 {
      font-size: clamp(1em, 2vw, 2em);
      font-weight: 600;
      span {
        font-family: var(--ArchivoBlack-font);
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    overflow: hidden;
  }
  .sectionHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2em;

    .sectionHead__adverstiment {
      gap: 2em;
    }
  }
}
