.main {
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.services {
  background-color: hsl(0, 0%, 8%);
  padding: 10px;
  h2 {
    font-family: var(--ArchivoBlack-font);
    font-size: clamp(1.5em, 2.5vw, 3em);
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    text-align: center;
    margin: 10px 0px 20px 0px;
  }
  .services__card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
}
